main {
   position: relative;
   z-index: 1;
  }

  .video-section{
    position: relative;
    width: 100vw;
    overflow: hidden;
    margin-bottom: 10px;
  }

  
  .video {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;//linea importante
    border-radius: 10px;
    padding-right: 30px;
  }
  
  .overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
    font-size: 3vw;
    text-transform: uppercase;
}

  
  .logoWhatssap {
    width: 65px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: $color-botones;
    padding: 2% 4%;
    border-radius: 5px;
    color: white;
    font-size: 2vw;
    display: inline-block; /* Añade esta propiedad */
    white-space: nowrap; /* Añade esta propiedad para evitar que se rompa el texto en varias líneas */
    white-space: nowrap;
    border: none;
  
    @media (max-width: 768px) {
      font-size: 3vw;
    }
  
    &:hover {
      background-color: $color-botones-secundario;
    }
}

.seccion-dos {
    margin-top: 10px;
}
